.title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}
.product-container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:center
  } 
  .product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 240px;
	border: 1px solid lightgray;
	border-radius: 14px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
	  background-color: white; 
	padding-bottom:1%
  
  }
  
  .product-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
  }
  
  .product-name {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 10px 0;
	text-align: center;
  }
  
  .product-description {
	font-size: 0.875rem;
	margin: 10px 0;
	text-align: center;
  }
  
  .product-price {
	font-size: 1.125rem;
	font-weight: bold;
	margin: 10px 0;
	color: rgb(36, 125, 214);
  }
  
  .add-to-cart-button {
	padding: 10px 20px;
	background-color: rgb(36, 125, 214);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 0.875rem;
	cursor: pointer;
  }
  
  .add-to-cart-button:hover {
	background-color: rgb(22, 85, 148);
  }
  
  .product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
   }
  .original-price {
	text-decoration: line-through;
	color: lightgray;
	font-size: 0.875rem;
  }
  
  .discount-price {
	color: rgb(36, 125, 214);
	font-size: 1.125rem;
	font-weight: bold;
  }