@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-color: #ffffff;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

header nav {
	background-color: #ffffff;
	width: 100%;
	font-size: 0;
	vertical-align: middle;
	height: 6.6rem;
	line-height: 6.6rem;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

header nav .nav-common {
	display: inline-block;
}

header nav .logo {
	width: 20%;
	text-align: center;
	font-size: 16px;
}

header nav ul {
	width: 65%;
	list-style: none;
	/*  font-size: 0;*/
	font-size: 16px;
}

header nav ul li {
	display: inline-block;
	width: 18%;
	text-align: center;
}

header nav ul li a {
	text-transform: uppercase;
	color: rgb(89, 89, 89);
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

header nav ul li a:hover {
	color: rgba(89, 89, 89, 0.6);
}

header nav .nav-icon {
	width: 7.5%;
	text-align: center;
	font-size: 16px;
}

@media only screen and (max-width: 768px) {
	header nav {
		height: 5rem;
		line-height: 5rem;
	}
	header nav .logo {
		width: 45%;
	}
	header nav .nav-icon img {
		margin-top: 1.4rem;
	}
	header nav ul {
		width: 20%;
		display: none;
	}
	header nav ul li {
		display: none;
	}
	header nav .cart {
		width: 15%;
		text-align: right;
	}
	header nav .menu {
		width: 20%;
	}
}

#header-hero {
	width: 100%;
	display: block;
	position: relative;
}

#header-hero .header-bg {
	width: 100%;
	height: auto;
}

#header-hero .header-bg img {
	width: 100%;
	height: auto;
}

#header-hero .header-content {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0%;
	text-align: center;
	color: #f2f2f2;
	padding: 0rem 0.4rem;
}

#header-hero .header-content p.heading-1 {
	text-transform: uppercase;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 2vw;
	padding-top: 9vw;
}

#header-hero .header-content h1 {
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	font-size: 3rem;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 2.4vw;
}

#header-hero .header-content h1 .logo-style {
	color: #ce0095;
}

#header-hero .header-content p.description {
	margin: 0 auto;
	width: 30%;
	font-family: Cambria;
	font-size: 1.4rem;
	font-style: italic;
	margin-bottom: 5vw;
}

#header-hero .header-content .button {
	margin: 0 auto;
	background-color: #a61458;
	-webkit-box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3.84px 0.16px rgba(0, 0, 0, 0.35);
	width: 10rem;
	padding: 0.8rem;
}

#header-hero .header-content .button p {
	font-family: Cambria;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

@media only screen and (max-width: 1440px) {
	#header-hero .header-content p.description {
		width: 40%;
		margin-bottom: 3rem;
		font-size: 1.2rem;
	}
	#header-hero .header-content p.heading-1 {
		padding-top: 8vw;
	}
}

@media only screen and (max-width: 1024px) {
	#header-hero .header-bg {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	#header-hero .header-bg img {
		width: 100rem;
		height: 40rem;
		margin-left: -50%;
	}
	#header-hero .header-content p.heading-1 {
		padding-top: 20vw;
	}
	#header-hero .header-content p.description {
		width: 60%;
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 480px) {
	#header-hero .header-content h1 {
		font-size: 2rem;
		padding: 1rem 0rem;
	}
	#header-hero .header-bg img {
		width: 100rem;
		height: 40rem;
		margin-left: -140%;
	}
	#header-hero .header-content p.description {
		width: 50%;
		margin-bottom: 3rem;
		text-align: left;
	}
	#header-hero .header-content .button {
		width: 8rem;
		padding: 0.6rem;
	}
	#header-hero .header-content .button p {
		font-size: 0.8rem;
	}
}
.user{
    color: black;
    height: 50px;
}