{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clothings- Pandora{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/clothings.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/109fe23f15.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="home-section" style="background-color: white;" id="btn">
        <div class="text" style="margin-left: 34px;">
            <legend class="title">Clothings<br /></legend>
            {% for clothing in clothings %}
                <h2>{{ clothing.name }}</h2>
                <div style="margin-left: 25.5px; color: lightslategrey;">{{ clothing.price }}</div>
                <p>{{ clothing.in_stock }}</p>
                <p>{{ clothing.image }}</p>
                <hr>
            {% endfor %}
        </div>
    </section>
    <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
      <div class="product-card">
        <img src="https://images.unsplash.com/photo-1602143407151-7111542de6e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Product Name" class="product-image">
        <h3 class="product-name">Product Name</h3>
        <p class="product-description">Product Description</p>
        <div class="product-price">$99.99</div>
        <button class="add-to-cart-button" type="submit">Add to Cart</button>
      </div>
</body>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>