{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<section class="text-dark p-5 p-lg-0 pt-lg-5 text-sm-start">
    <div class="container d-none d-sm-block">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 style="font-size: 32px;">Where shopping meets convinience!</h1>
                <p class="lead my-4" style="font-size: 27px;">
                    #1 Online Shopping Store
                </p><br>
                <div style="text-align: left;">
                    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button"
                        style="border-radius: 11px; background-color: rgb(36, 125, 214) !important; border-color: rgb(36, 125, 214);">Get
                        Started</a>
                </div>
            </div>
            <img class="img-fluid w-50" src="{% static 'images/Background_Image.svg' %}" alt="" />
        </div>
    </div>
    <div class="d-block d-sm-none align-items-center">
        <div style="text-align: center;">
            <h1>Lorem ipsum</h1>
            <p class="lead my-4" style="font-size: 24px;">
                Where shopping meets convinience!
            </p><br>
        </div>
        <div style="text-align: center;">
            <img class="img-fluid h-20" src="{% static 'images/Background_Image.svg' %}" />
            <br><br>
            <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button"
                style="border-radius: 11px; background-color: rgb(36, 125, 214) !important; border-color: rgb(36, 125, 214);">Get
                Started</a>
        </div>
    </div>
    <br><br>
</section>

{% endblock content %}