{% load static %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" box-shadow="none" style="background-color: #303030;">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static 'images/logo.png' %}" height="56px"
                alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            style="outline: none; border: none; box-shadow: none;"><span><i class='bx bx-menu'
                    style="font-size: 35px; color: white;"></i></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <div class="dropdown">
                    <button class="dropbtn">Products</button>
                    <div class="dropdown-content">
                        <a href="{% url 'clothings' %}">Clothings</a>
                        <a href="#">Phones & Accesories</a>
                        <a href="#">Gaming</a>
                        <a href="#">Health & Beauty</a>
                        <a href="#">Home & Office</a>
                    </div>
                </div>  
            </ul> 
        </div>
    </div>
</nav>